/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none; 
}

ol {
    counter-reset: li;
}
ol li::before {
    content: counter(li) "."; 
    display: inline-block; 
    width: 2.262rem;
    margin-left: 2.262rem;
}

ol li {
    counter-increment: li
}
  
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  

/* Mobile Typography; Modified Augmented Fourth Scale */
:root {
    /* --actionColor: rgb(218, 65, 94); */
    --actionColor:#c82333;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 2.262rem;
    background-color:#1B3369;
    /* background-color: #194B81; */
    color:#f6f6f6;
}

h1, h2, h3, h4, blockquote, button {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.3;
    margin-top: 2.262rem;
}

h1 {
    text-align: center;
    font-size: 9.044rem;
    line-height: 0.95;
    margin-bottom: 4.262rem;
}

h2 { 
    font-size: 4.9rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 4.523rem;
}

h4, button {
    font-size: 2.262rem;
}

p {
    margin-bottom: 2.2rem;
}

blockquote {
    margin: 0;
    font-size: 3.199rem;
    font-style: italic;   
    position: relative; 
    padding-left: 25px;
    padding-left: 43px;
}

blockquote:before {
    content: "“";
    color: var(--actionColor);
    font-size: 20rem;
    opacity: 1;
    position: absolute;
    font-family: initial;
    z-index: -1;
    line-height: 1;
    top: -53px;
    left: -13px;
}

blockquote, p {
    max-width: 66ch;
}

p, li{
    font-family: "Open Sans";
}


/* Mobile Layout */
html {
    scroll-snap-type: y mandatory; 

}

header {
    justify-content: center;
    text-shadow: 2px 2px 2px #000000;

}

.quote {
    justify-content: center;
}
.redWord{
    color: var(--actionColor);
}
.fa-chevron-down{
    text-align: center;
}
section{
    margin: auto;
}
.supportSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supportSection .supportText{
    text-align: center;
    margin-top: 2rem;
}
.supportSection img{
    max-width: 300px;
    border-radius: 5px;
}
button {
    position: fixed;
    bottom: 2.262rem;
    right: 2.262rem;
    padding: 0.5rem;
    border: 4px solid var(--actionColor);
    color: var(--actionColor);
    transition: all .5s ease-out;
    background-color: #fff;
}

button:hover {
    color: #fff;
    background: var(--actionColor);
    cursor: pointer;
    transition: all .2s ease-out;
}
 i.fas.fa-chevron-down.intro-arrow{
    position: absolute;

}
footer a.bottom-arrow i{
    margin-top: 5rem;
    position: relative;

}

li {
    margin-top: 0.4rem;
}
footer{
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li a {
    padding-bottom: 5px;
    font-size: 2.262rem;
    background:
       linear-gradient(
         to bottom, var(--actionColor) 0%,
         var(--actionColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: #f6f6f6;
    text-decoration: none;
    transition: background-size 0.5s ease-out;
  }
  
li a:hover {
    background-size: 4px 50px;
    color: white;
  }
 
/* About */

#pictures {
    height:auto;
}

section, header
, footer
 {
    display: flex; 
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.vh-exempt {
    height: auto;
}
.aboutUs p{
    font-family:"Open Sans", Helvetica, sans-serif;
}
#imgGrid{
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}
.imgGridPhoto{
    width: 100%;
    height:100%;
    /* height: 200px; */
    margin: auto;
    border-radius:1px;
    box-shadow: 1px 1px 4px 0px  rgba(0,0,0,0.3);
}

/* Desktop */

@media only screen and (min-width: 767px) {
    
    section, header, footer, .vh-exempt {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        scroll-snap-points-y: repeat(300px);
        height: 100vh;
    }

    body {
        margin: 0;
    }
    p{
        font-size: 1.6rem;
    }
    section, footer {
        align-items: center;
        justify-content: center;
    }

    header {
        align-items: center;
        position: relative;
    }

    header::after {
        content: "";
        background-image: url(./Img/waterhands.jpg);
        opacity: 0.3;
        background-size: cover;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vh;
    }

    .footerNav:first-child{
        padding-left: 10px;
    }
  
}


a i.fas.fa-chevron-down, i.fas.fa-chevron-up{
    color: white;
    text-align: center;

}
i.fas.fa-chevron-down, i.fas.fa-chevron-up{
    text-align: center;
}
a.page-nav-link {
    text-align: center;
}
button a{
    color: var(--actionColor);
    text-decoration: none;
}
button a:hover{
    color: #f6f6f6;
}
